@import "tailwindcss";

#root {
  width: 100%;
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F1F4F2; /* Your light Figma background */
}
/* .no-scrollbar::-webkit-scrollbar {
  display: none;
} */